<% services.each do |srv| %>
  <% status = srv.status_before(1.day) %>
  <% rate = srv.recent_rate(1.day) %>

  <div class="accordion-group">
    <div class="accordion-heading">
      <%= status_accordion_toggle_tag status, "#service_#{srv.id}" do %>
          <%= status_icon_tag status %>
          <%= rate_tag rate, status %>
          <%= srv.type %>
      <% end %>
    </div>
    <div id="service_<%= srv.id %>" class="accordion-body collapse">
      <div class="accordion-inner">

      </div>
    </div>
  </div>
<% end %>


