<div class="page-header">
  <h1>
    Dashboard
  </h1>
</div>
<ul class="breadcrumb">
  <li class="active">Dashboard</li>
</ul>

<%= javascript_tag do %>
  var ping_logs_path = {};
  var httping_logs_path = {};
<% end %>
<% @servers.each_slice 2 do |servers| %>
  <div class="row">
    <% servers.each do |server| %>
    <div class="span6">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle alert-success" data-toggle="collapse" href="#server_<%= server.id %>">
            <h4>
              <i class="icon-ok-sign"></i>
              <%= server.address %>
            </h4>
          </a>
        </div>
        <div id="server_<%= server.id %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= server.description %>
                      <%= link_to '設定',
                      edit_server_path(server), :class => 'btn btn-mini' %>

            <%= render partial: 'services', locals: {server: server} %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<!-- Modal -->
<div id="pingDetailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">詳細ログ</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_server_path,
            :class => 'btn btn-primary' %>
