<div class="page-header">
  <h2>
    <%= @server.address %>の監視状況
    <small>全サービスの監視状況を視覚的に確認できる画面</small>
  </h2>
</div>
<div class="row">
  <div class="span12">
    <%= link_to 'サーバ情報設定',
              edit_server_path(@server), :class => 'btn btn-info pull-right' %>
  </div>
</div>

<div class="row">
  <div class="span6 alert alert-success">
    <h4>
    	<i class="icon-ok-sign"></i>
    	<%= link_to 'Ping', ping_logs_path %>
    </h4>
    <p>正常に動作しています。</p>
    <p>最終監視日時：2013/03/08 14:05:40</p>
  </div>

  <div class="span6 alert">
  	<h4>
  		<i class="icon-exclamation-sign"></i>
  		<%= link_to 'HTTP/HTTPS', '#' %>
  	</h4>
  	<p>Sample: いくつかのエラーがあります。</p>
  </div>
</div>

<div class="row">
  <div class="span6 alert alert-error">
    <h4><i class="icon-minus-sign"></i>SSH</h4>
    <p>Sample: 監視に失敗しました。サーバの動作を確認してください。</p>
  </div>

</div>


<hr>
<%= link_to '戻る', servers_path, :class => 'btn' %>

