<div class="page-header">
  <h1>
    サーバ監視状態
    <small><%= @server.address %></small>
  </h1>
</div>
<ul class="breadcrumb">
  <li><%= link_to 'Dashboard', servers_path %> <span class="divider">/</span></li>
  <li class="active"><%= @server.address %></li>
</ul>
<div class="row">
  <div class="span12">
    <%= link_to 'サーバ情報設定',
              edit_server_path(@server), :class => 'btn btn-info pull-right' %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h4 class="alert alert-success">
    	<i class="icon-ok-sign"></i>
    	<%= link_to 'Ping', server_ping_logs_path(@server) %>
    </h4>
    <% if @recent_ping_log %>
      Status:
      <% ping_rate = @server.recent_ping_rate %>
      <% if ping_rate == 0 %>
        <span class="label label-important"><%= ping_rate %>%</span>
      <% elsif ping_rate < 100 %>
        <span class="label label-warning"><%= ping_rate %>%</span>
      <% else %>
        <span class="label label-success"><%= ping_rate %>%</span>
      <% end %>
      <p>Sample: 正常に動作しています。</p>
      <p>前回の平均応答時間: <%= @recent_ping_log.avg %>[ms]</p>
      <%= javascript_tag do %>
        var ping_logs_path = '<%= server_ping_logs_path @server %>';
      <% end %>
      <div id='ping_logs_chart' style='width: 100%'></div>
      <p>最終監視日時：<%= @recent_ping_log.date %></p>
    <% end %>
  </div>

  <div class="span6">
  	<h4 class="alert">
  		<i class="icon-exclamation-sign"></i>
  		<%= link_to 'HTTP/HTTPS', '#' %>
  	</h4>
  	<p>Sample: いくつかのエラーがあります。</p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h4 class="alert alert-error"><i class="icon-minus-sign"></i>SSH</h4>
    <p>Sample: 監視に失敗しました。サーバの動作を確認してください。</p>
  </div>

</div>


<hr>
<%= link_to '戻る', servers_path, :class => 'btn' %>

