<div id="in-sub-nav">
  <div class="container">
    <div class="row">
      <div class="span12">
        <!-- メニュー -->
        <ul>
          <% unless account_signed_in? %>
            <li>
              <a id="menu_home" href="<%= root_path %>">
                <%= icon_tag "icon-white icon-home" %>
                <br>
                Home
              </a>
            </li>
            <li>
              <a id="menu_sign_up" href="<%= new_account_registration_path %>">
                <%= icon_tag "icon-white icon-ok" %>
                <br>
                Sign up
              </a>
            </li>
          <% end %>

          <% if account_signed_in? %>
            <li>
              <a id="menu_dashboard" href="<%= servers_path %>">
                <%= icon_tag "icon-white icon-list-alt" %>
                <br>
                Dashboard
              </a>
            </li>

            <li>
              <a id="menu_new_server" href="<%= new_server_path %>">
                <%= icon_tag "icon-white icon-plus" %>
                <br>
                Add Server
              </a>
            </li>

            <li>
              <a id="menu_account" href="<%= edit_account_registration_path %>">
                <%= icon_tag "icon-white icon-user" %>
                <br>
                Account
              </a>
            </li>

          <% end %>

          <li>
            <a id="menu_contact" href="<%= contact_path %>">
              <%= icon_tag "icon-white icon-envelope" %>
              <br>
              Contact
            </a>
          </li>
        </ul>
      <!-- /メニュー -->
      </div><!-- /span12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /in-sub-nav -->