<div class="page-header">
  <h1>
    Ping監視ログ
    <small>ping監視ログの一覧（実際には各サーバのログのみ表示）</small>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>対象サーバ</th>
      <th>日時</th>
      <th>結果</th>
      <th>平均応答時間[ms]</th>
      <th>パケットロス[%]</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ping_logs.each do |ping_log| %>
      <tr>
        <td><%= link_to ping_log.server.address, ping_log.server %></td>
        <td><%= ping_log.date %></td>
        <td>
          <% case ping_log.status %>
            <% when 'Success' %>
              <span class="label label-success">Success</span>
            <% when 'Failed' %>
              <span class="label label-important">Failed</span>
          <% end %>
          <%= link_to '詳細',
            ping_log_path(ping_log),
            :class => 'btn btn-mini btn-info' %>
        </td>
        <td><%= ping_log.avg %></td>
        <td><%= ping_log.packet_loss %></td>
        <td>

          <%= link_to '削除',
                      ping_log_path(ping_log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

