<div class="page-header">
  <h1>
    ping監視ログ一覧
    <small>- <%= @server.address %></small>
  </h1>
</div>

<!-- ナビゲーションメニュー -->
<ul class="breadcrumb">
  <li><%= link_to 'Dashboard', servers_path %> <span class="divider">/</span></li>
  <li><%= link_to @server.address, @server %> <span class="divider">/</span></li>
  <li class="active">ping</li>
</ul>

<h2><%= l Date.today, format: :long %></h2>
<!-- グラフ -->
<%= javascript_tag do %>
  var ping_logs_path = '<%= server_ping_logs_path @server, recent: params[:recent] %>';
<% end %>
<div id='ping_logs_chart' style='width: 100%'></div>

<!-- 時間帯ごとの詳細ログ -->
<div class="row">
  <% @hour_logs.each_with_index do |logs, i| %>
    <div class="span6">
      <% i = 23 - i %>
      <!-- その時間帯のログがある場合のみ表示 -->
      <% if logs.any? %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= i %>">
            <i class="icon-th-list"></i> <%= i %>時台
            </a>
          </div>
          <div id="collapse<%= i %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render partial: 'table', locals: {logs: logs} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
