<dl class="dl-horizontal">
  <dt><strong>監視日時:</strong></dt>
  <dd><%= l @ping_log.date %></dd>
  <dt><strong>対象サーバアドレス:</strong></dt>
  <dd><%= @ping_log.server.address %></dd>
  <dt><strong>状態:</strong></dt>

  <dd>
    <% case @ping_log.status %>
      <% when 'Success' %>
        <span class="label label-success">Success</span>
      <% when 'Failed' %>
        <span class="label label-important">Failed</span>
    <% end %>
  </dd>
  <dt><strong>応答時間(最小/平均/最大/標準偏差)[ms]:</strong></dt>
  <dd><%= "#{@ping_log.min}/#{@ping_log.avg}/#{@ping_log.max}/#{@ping_log.stddev}" %></dd>
  <dt><strong>パケットロス[%]:</strong></dt>
  <dd><%= @ping_log.packet_loss %></dd>
  <dt><strong>ping実行ログ:</strong></dt>
  <br>
  <pre><%= @ping_log.ping_detail %></pre>
</dl>

